In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Gitanshu\Downloads\Students_result.csv")
df

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75

In [3]:
df.loc[4]

Student ID                1005
Section                      C
Class                       12
Study hrs                    5
Social Media usage hrs       2
Percentage                  75
Name: 4, dtype: object

In [4]:
df.loc[[0,1]]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80

In [5]:
df.loc[[2,4]]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
2        1003       A     10          3                       2          60
4        1005       C     12          5                       2          75

In [6]:
df.loc[4, 'Class']

12

In [7]:
df.loc[0:3, 'Class']

0    10
1    10
2    10
3    11
Name: Class, dtype: int64

In [8]:
df.loc[0:2, 'Percentage']

0    50
1    80
2    60
Name: Percentage, dtype: int64

In [9]:
df.loc[df['Class'] < 11, ['Percentage']]

   Percentage
0          50
1          80
2          60

In [10]:
# iloc
df.iloc[0]

Student ID                1001
Section                      A
Class                       10
Study hrs                    2
Social Media usage hrs       3
Percentage                  50
Name: 0, dtype: object

In [11]:
df.iloc[[0]]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50

In [12]:
df.iloc[:, 0]

0    1001
1    1002
2    1003
3    1004
4    1005
Name: Student ID, dtype: int64

In [13]:
df.iloc[[0,1]]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80

In [14]:
df.loc[:, 'Percentage']

0    50
1    80
2    60
3    45
4    75
Name: Percentage, dtype: int64