In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"D:\C_DRIVE_DOWNLOADS\hotel_room.csv")
df.head()

,property name,Room Price (in BDT or any other currency),review_count,Comment about room
0,1. SALA Samui Choengmon Beach Resort,"�45,854","2,820","The breakfast is excellent, the pools are real..."
1,"2. Napasai, A Belmond Hotel, Koh Samui","�29,666","1,191","We a had perfect view at the beach,"
2,3. Pimalai Resort and Spa,"�31,667","3,287",It has everything
3,4. Avani+ Mai Khao Phuket Suites & Villas,"�23,887",144,the villa was very
4,5. Sheraton Samui Resort,"�18,816","1,006",Me & my wife stayed there for 3 Nights and we ...

In [3]:
df.shape

(4477, 4)

In [4]:
df.dtypes

property name                                object
Room Price (in BDT or any other currency)    object
review_count                                 object
Comment about room                           object
dtype: object

In [5]:
df.describe()

,property name,Room Price (in BDT or any other currency),review_count,Comment about room
count,4477,3131,4477,3473
unique,4390,2051,1612,2877
top,Hilton Dubai Palm Jumeirah,View all 5 deals,0,room was clean
freq,9,493,415,113

In [6]:
df.isnull().sum()

property name                                   0
Room Price (in BDT or any other currency)    1346
review_count                                    0
Comment about room                           1004
dtype: int64

In [7]:
df.isnull().sum().sum()

2350

In [8]:
df.notnull().sum()

property name                                4477
Room Price (in BDT or any other currency)    3131
review_count                                 4477
Comment about room                           3473
dtype: int64

In [9]:
df.notnull().sum().sum()

15558

In [10]:
data_df = df.drop(columns= ['company'])

KeyError: "['company'] not found in axis"

In [16]:
df.isnull().sum()

property name                                   0
Room Price (in BDT or any other currency)    1346
review_count                                    0
Comment about room                           1004
dtype: int64

In [17]:
df = df.dropna(subset=['children'])

KeyError: ['children']

In [13]:
data_df['agent'].fillna((data_df['agent'].mean()), inplace=True)

NameError: name 'data_df' is not defined

In [14]:
data_df.isnull().sum()

NameError: name 'data_df' is not defined

In [106]:
data_df['country'].unique()

array(['PRT', 'GBR', 'USA', 'ESP', 'IRL', 'FRA', nan, 'ROU', 'NOR', 'OMN',
       'ARG', 'POL', 'DEU', 'BEL', 'CHE', 'CN', 'GRC', 'ITA', 'NLD',
       'DNK', 'RUS', 'SWE', 'AUS', 'EST', 'CZE', 'BRA', 'FIN', 'MOZ',
       'BWA', 'LUX', 'SVN', 'ALB', 'IND', 'CHN', 'MEX', 'MAR', 'UKR',
       'SMR', 'LVA', 'PRI', 'SRB', 'CHL', 'AUT', 'BLR', 'LTU', 'TUR',
       'ZAF', 'AGO', 'ISR', 'CYM', 'ZMB', 'CPV', 'ZWE', 'DZA', 'KOR',
       'CRI', 'HUN', 'ARE', 'TUN', 'JAM', 'HRV', 'HKG', 'IRN', 'GEO',
       'AND', 'GIB', 'URY', 'JEY', 'CAF', 'CYP', 'COL', 'GGY', 'KWT',
       'NGA', 'MDV', 'VEN', 'SVK', 'FJI', 'KAZ', 'PAK', 'IDN', 'LBN',
       'PHL', 'SEN', 'SYC', 'AZE', 'BHR', 'NZL', 'THA', 'DOM', 'MKD',
       'MYS', 'ARM', 'JPN', 'LKA', 'CUB', 'CMR', 'BIH', 'MUS', 'COM',
       'SUR', 'UGA', 'BGR', 'CIV', 'JOR', 'SYR', 'SGP', 'BDI', 'SAU',
       'VNM', 'PLW', 'QAT', 'EGY', 'PER', 'MLT', 'MWI', 'ECU', 'MDG',
       'ISL', 'UZB', 'NPL', 'BHS', 'MAC', 'TGO', 'TWN', 'DJI', 'STP',
       'KNA', 'ETH', 'IRQ', 'HND', 'RWA', 'KHM', 'MCO', 'BGD', 'IMN',
       'TJK', 'NIC', 'BEN', 'VGB', 'TZA', 'GAB', 'GHA', 'TMP', 'GLP',
       'KEN', 'LIE', 'GNB', 'MNE', 'UMI', 'MYT', 'FRO', 'MMR', 'PAN',
       'BFA', 'LBY', 'MLI', 'NAM', 'BOL', 'PRY', 'BRB', 'ABW', 'AIA',
       'SLV', 'DMA', 'PYF', 'GUY', 'LCA', 'ATA', 'GTM', 'ASM', 'MRT',
       'NCL', 'KIR', 'SDN', 'ATF', 'SLE', 'LAO'], dtype=object)

In [108]:
data_df = data_df['country'].fillna(method='bfill')

In [112]:
data_df.isnull().sum()

0